{% extends 'products/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% for product in products %}
<div class="row mb-3">

    <div class="col-md-2">
        <a href="{% url 'product-detail' product.id %}">
            <img src="{{product.icon.url}}" alt="" class="img-fluid">
        </a>

    </div>
    <div class="col-md-8">
        <h4 class="display-5"><a href="{% url 'product-detail' product.id %}">{{product.title}}</a></h4>
        <p class="lead"><a href="{% url 'product-detail' product.id %}" class="text-dark"
                style="text-decoration:none">{{product.summary}}</a></p>
    </div>
    <div class="col-md-2">
        <a href="{% url 'vote-cast' product.id %}" class="btn btn-primary btn-block"><i class="fas fa-thumbs-up">
                Votes{{product.votes_total}}</i></a>
    </div>

</div>

{% endfor %}
{% endblock content%}